body {
    min-width: 320px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type=text],
select,
textarea,
button,
.btn {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
    margin-bottom: 20px;
    background: #fcfcfc;
}

button,
.btn {
    background: #cccccc;
    text-decoration: none;
    display: block;
    color: black;
    text-align: center;
    font-size: 0.8rem;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #117a8b;
    border-color: #10707f;
}

.btn:hover,
.btn:active,
button:hover,
button:active {
    opacity: 0.7;
}

.container {
    min-width: 300px;
    width: 50%;
    margin-bottom: 20px;
}

@media(max-width: 600px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login {
    margin-right: 10px;
    margin-bottom: 20px;
    display: block;
    text-align: center;
    margin-top: 15px;
}
.allposts{
    color: #000;

}
.allposts:hover{
    color: #117a8b;
}
.logup{
    color: #000;
}