.posts__item {
    display: block;
    background: #ececec;
    padding: 10px 20px;
    margin: 0 0 30px 0;
    text-decoration: none;
    color: #000000;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    padding: .25rem .75rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.posts__categories {
    background-color: #fff;
    color: #000000;    
    padding: 4px 8px;
    border: 1px solid #10707f;
    border-radius: 4px;
}